* {
  padding: 0;
  margin: 0;
}

header {
  opacity: .75;
  background: url(../img/retmag7_800x600.jpg) no-repeat center;
  background-size: cover;
  height: 200px;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  border-left-width: 4px solid red;
  border-right-width: 4px solid red;
}

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navLinks {
  overflow: hidden;
  display: inline-block;
}

#navLinks ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 10px 20px;
  padding: 10px 10px;
}

#navLinks ul li {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}
#navLinks ul li a {
  color: white;
  text-decoration: none;
}

.hide {
  height: 0;
  transition: height 1s;
}

.show {
  height: 500px;
  transition: height 1s;
}

@media (min-width: 768px) {
  #navButton {
    display: none;
  }
}
img {
  width: 100%;
}

figure {
  position: absolute;
  opacity: 0;
  transition: 2s;
  border-bottom: 2px solid red;
  border-left-width: 4px solid red;
  border-right-width: 4px solid red;
}

.slideshow {
  position: relative;
  display: block;
  overflow: hidden;
}

.slide1 {
  background: url(../img/maxresdefault.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.slide2 {
  background: url(../img/GAFP_1310_P5.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.slide3 {
  background: url(../img/mark-newell-buck_02.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 2s;
}

.next, .prev {
  color: yellow;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  background: #bf4040;
  opacity: 1;
}

.next {
  right: 10px;
  padding: 10px, 5px, 15px, 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.prev {
  left: 10px;
  padding: 10px, 5px, 15px, 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}

html {
  height: 100%;
}

div p {
  text-color: white;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(211, 211, 211, 0.5);
}

#overlay div {
  width: 75%;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid red;
  padding: 15px;
  text-align: center;
}

.hide {
  visibility: hidden;
}
